# Working with missing data
http://pandas.pydata.org/pandas-docs/stable/missing_data.html

In [2]:
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f', 'h'],
                     columns=['one', 'two', 'three'])

In [4]:
df['four'] = 'bar'
df['five'] = df['one'] > 0
df

        one       two     three four   five
a  0.756190  1.273228 -1.667993  bar   True
c -0.728556 -1.358021  0.173322  bar  False
e -0.869869  2.017115  1.374166  bar  False
f -0.803591  0.500496 -0.408556  bar  False
h -0.156756  2.130464  2.226619  bar  False

In [5]:
df2 = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
df2

        one       two     three four   five
a  0.756190  1.273228 -1.667993  bar   True
b       NaN       NaN       NaN  NaN    NaN
c -0.728556 -1.358021  0.173322  bar  False
d       NaN       NaN       NaN  NaN    NaN
e -0.869869  2.017115  1.374166  bar  False
f -0.803591  0.500496 -0.408556  bar  False
g       NaN       NaN       NaN  NaN    NaN
h -0.156756  2.130464  2.226619  bar  False

In [7]:
np.nan == np.nan

False

In [8]:
None == None

True

In [9]:
np.nan == None

False

In [11]:
df2 = df.copy()
df2['timestamp'] = pd.Timestamp('20120101')
df2

        one       two     three four   five  timestamp
a  0.756190  1.273228 -1.667993  bar   True 2012-01-01
c -0.728556 -1.358021  0.173322  bar  False 2012-01-01
e -0.869869  2.017115  1.374166  bar  False 2012-01-01
f -0.803591  0.500496 -0.408556  bar  False 2012-01-01
h -0.156756  2.130464  2.226619  bar  False 2012-01-01

In [12]:
#NaT is Not a Timestamp
#Nan is Not a Number (or text)
df2.ix[['a','c','h'],['one','timestamp']] = np.nan
df2

        one       two     three four   five  timestamp
a       NaN  1.273228 -1.667993  bar   True        NaT
c       NaN -1.358021  0.173322  bar  False        NaT
e -0.869869  2.017115  1.374166  bar  False 2012-01-01
f -0.803591  0.500496 -0.408556  bar  False 2012-01-01
h       NaN  2.130464  2.226619  bar  False        NaT

In [13]:
df2.get_dtype_counts()

bool              1
datetime64[ns]    1
float64           3
object            1
dtype: int64

In [15]:
# NaN is used for numeric fields
s = pd.Series([1, 2, 3])
s.loc[0] = None
s

0   NaN
1     2
2     3
dtype: float64

In [16]:
# Actual value is used for objects
s = pd.Series(["a", "b", "c"])
s.loc[0] = None
s.loc[1] = np.nan
s

0    None
1     NaN
2       c
dtype: object

In [18]:
# 1/1/1970 equals zero for timestamps
df2.fillna(0)

        one       two     three four   five  timestamp
a  0.000000  1.273228 -1.667993  bar   True 1970-01-01
c  0.000000 -1.358021  0.173322  bar  False 1970-01-01
e -0.869869  2.017115  1.374166  bar  False 2012-01-01
f -0.803591  0.500496 -0.408556  bar  False 2012-01-01
h  0.000000  2.130464  2.226619  bar  False 1970-01-01

In [19]:
dff = pd.DataFrame(np.random.randn(10,3), columns=list('ABC'))
dff.iloc[3:5,0] = np.nan
dff.iloc[4:6,1] = np.nan
dff.iloc[5:8,2] = np.nan
dff

          A         B         C
0 -0.559661  0.154474  0.472765
1 -0.442522 -0.256888 -0.357970
2 -0.200764  1.508683 -1.088559
3       NaN  0.819316  0.434326
4       NaN       NaN  0.945302
5 -1.207317       NaN       NaN
6 -0.787711 -0.913229       NaN
7 -1.485689 -0.381911       NaN
8 -0.131175  1.427917 -0.070989
9  0.956828  0.216639 -2.084995

In [20]:
# fill with mean
dff.fillna(dff.mean())

          A         B         C
0 -0.559661  0.154474  0.472765
1 -0.442522 -0.256888 -0.357970
2 -0.200764  1.508683 -1.088559
3 -0.482251  0.819316  0.434326
4 -0.482251  0.321875  0.945302
5 -1.207317  0.321875 -0.250017
6 -0.787711 -0.913229 -0.250017
7 -1.485689 -0.381911 -0.250017
8 -0.131175  1.427917 -0.070989
9  0.956828  0.216639 -2.084995

In [22]:
# only specific columns
dff.fillna(dff.mean()['B':'C'])

          A         B         C
0 -0.559661  0.154474  0.472765
1 -0.442522 -0.256888 -0.357970
2 -0.200764  1.508683 -1.088559
3       NaN  0.819316  0.434326
4       NaN  0.321875  0.945302
5 -1.207317  0.321875 -0.250017
6 -0.787711 -0.913229 -0.250017
7 -1.485689 -0.381911 -0.250017
8 -0.131175  1.427917 -0.070989
9  0.956828  0.216639 -2.084995

In [23]:
# another way to do it
dff.where(pd.notnull(dff), dff.mean(), axis='columns')

          A         B         C
0 -0.559661  0.154474  0.472765
1 -0.442522 -0.256888 -0.357970
2 -0.200764  1.508683 -1.088559
3 -0.482251  0.819316  0.434326
4 -0.482251  0.321875  0.945302
5 -1.207317  0.321875 -0.250017
6 -0.787711 -0.913229 -0.250017
7 -1.485689 -0.381911 -0.250017
8 -0.131175  1.427917 -0.070989
9  0.956828  0.216639 -2.084995

## String/Regular Expression Replacement
http://pandas.pydata.org/pandas-docs/stable/missing_data.html#string-regular-expression-replacement

In [26]:
d = {'a': list(range(4)), 'b': list('ab..'), 'c': ['a', 'b', np.nan, 'd']}
df = pd.DataFrame(d)
df

   a  b    c
0  0  a    a
1  1  b    b
2  2  .  NaN
3  3  .    d

In [27]:
 df.replace('.', np.nan)

   a    b    c
0  0    a    a
1  1    b    b
2  2  NaN  NaN
3  3  NaN    d

In [28]:
df.replace(r'\s*\.\s*', np.nan, regex=True)

   a    b    c
0  0    a    a
1  1    b    b
2  2  NaN  NaN
3  3  NaN    d

In [29]:
df.replace(['a', '.'], ['b', np.nan])

   a    b    c
0  0    b    b
1  1    b    b
2  2  NaN  NaN
3  3  NaN    d

In [33]:
df.replace([r'\.', r'(a)'], ['dot', r'\1stuff'], regex=True)

   a       b       c
0  0  astuff  astuff
1  1       b       b
2  2     dot     NaN
3  3     dot       d

In [31]:
df.replace({'b': '.'}, {'b': np.nan})

   a    b    c
0  0    a    a
1  1    b    b
2  2  NaN  NaN
3  3  NaN    d

In [32]:
# same as previous line but using regex
df.replace({'b': r'\s*\.\s*'}, {'b': np.nan}, regex=True)

   a    b    c
0  0    a    a
1  1    b    b
2  2  NaN  NaN
3  3  NaN    d

## IO Tools (Text, CSV, HDF5, ...)
http://pandas.pydata.org/pandas-docs/stable/io.html

In [35]:
from StringIO import StringIO # Python 2 
#from io import StringIO #for Python 3.